body{
    display: grid;
    place-items: center;
}
form{
    background-color:rgb(236, 98, 56);
    box-shadow: 0 0 5px rgb(81, 235, 127);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
    label{
        font-size: large;
    }
    input{
        height: 30px;   
    }
    #btn{
        height: 35px;
        margin-top: 5px;
        border: none;
        background-color: rgb(67, 240, 14);
        color: rgb(240, 255, 246);
        font-weight: bold;
        border-radius: 4px;
    }
    #btn:active{
        background-color: rgb(6, 3, 12);
    }
    #btn:hover{
        box-shadow: 0 0 20px rgb(81, 104, 235);
    }
}
